

@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
body {
    height: 100%;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    background-color: #25b79f;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
 }
 .text-center{
    text-align: center;
 }
 .roww{
    background-color:bisque;
    
    
 } 
 .cen{
    text-align: center;
    align-items: center;

    
 }
 .flex-container {
    display: flex;
  }
 h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  color: #07374a; 
}

